*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
h1{
    margin: 0px;
    padding: 0px;
}



body{
    position: relative;
    max-width: 1200px;
    margin: auto;
    box-shadow: 0 0 15px 2px gray;
    box-sizing: border-box;
}



/* loader */
.lds-dual-ring {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: inline-block;
    width: 80px;
    height: 80px;
    color: black;
    background-color: rgba(128, 128, 128, 0.63) ;
    box-shadow: 0 0 2000px 2000px rgba(128, 128, 128, 0.63);
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  